.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 960px)  {
  .welcome{
    flex-direction: row;

  }

  .welcome > *{
    margin:10px;
  }
}
